.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about-me h1 {
    background-image: linear-gradient(to right, #cca3c3 15%, #73bce0 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
    
.about-me-grid {
    margin: 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    vertical-align: middle;
}

.about-me-grid div {
    background-color: rgba(82, 82, 86, 0.25);
    box-sizing: border-box;
    padding: 0px 30px 20px 30px;
}

.about-me-img {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 768px) {
    .about-me-grid {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      align-items: center;
      padding: 0rem 0rem;
      margin: 0rem 0rem;
    }
}