.home {
  display: flex;
}

.home-grid {
  width: 100vw;
  display: flex;
  grid-template-columns: repeat(auto-fit, 1fr 1fr);
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20vh;
}

.home-content {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.home-grid h1 {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(to right, #cca3c3 15%, #73bce0 100%);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.home-grid p {
  font-size: 20px;
  color: #dee2e6;
}

.circle-image {
  min-width: 300px;
  min-height: 300px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-image img {
  max-width: 100%;
}

.circle-image:hover {
  animation: spin infinite 0.5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1450px) {
  .home-grid h1 {
    font-size: 50px;
  }
  .circle-image {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 600px) {
  .home-grid {
    flex-direction: column;
    margin: 15px 0 0 0;
    padding: 0;
    gap: 15px;
  }
}