.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-grid {
  padding-left: 4rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  grid-gap: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .home-grid {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
  }
}

.home-grid h1 {
  font-size: 3rem;
  margin: 6rem 4rem;

  background-image: linear-gradient(to right, #6d47f9 25%, #356fed 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.home-grid p {
  color: white;
  position: relative;
  margin-top: -70px;
}

.home-image {
  grid-area: image;
}

.home-image:hover {
  animation: spin infinite 0.5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
  