.display {
    color: white;
    font-size: 5rem;
    gap: 0rem 0rem;
}

.display ul {

    gap: 0rem; /* mandatory gap between li */
    padding: 5rem 8rem; /* y x padding */
    
    font-size: 4rem;
    list-style: none; /* removes bullet points */
    display: flex;
    align-items: center; /* aligns items within its container */
    justify-content: space-around;
}

.display li:hover {
    color: green;
    animation: spin infinite 0.3s linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .picture {
    height: 355px; /* 355x */
    width: 336px; /* 336x */
    pointer-events: none;
  }